Загружаем модули

In [1]:
import zipfile
from io import BytesIO, StringIO
from IPython.display import display

import pandas as pd
import requests
import hashlib
import fsspec

Задаем значения

In [2]:
url = 'https://flibusta.site/catalog/catalog.zip'

md5hash_current = ''

Получаем файл с данными

In [3]:
r = requests.get(url)
print(r.status_code)

200

Распаковываем файл, перекодируем и читаем дата фрейм

In [4]:
zipDocument = zipfile.ZipFile(BytesIO(r.content))
file = zipDocument.open('catalog.txt').read().decode('utf-8')

df = pd.read_csv(StringIO(file), delimiter=';', on_bad_lines='skip')

Поисковая фраза

In [5]:
author = 'азимов'
book_name = ''

#search_string = ['foo', 'baz']
#search_string = 'Красный кефир'.split()
search_string = 'красный кефир'

display(search_string)

df_result = df[df['Title'].str.contains(search_string, na=False, case=False)]

'красный кефир'

In [6]:
display(df_result.head(10))

,Last Name,First Name,Middle Name,Title,Subtitle,Language,Year,Series,ID
527804,Трофимов,Сергей,Павлович,Красный кефир,NaN,ru,NaN,NaN,95847